#FighterJet > ul > li {
    color: salmon;
}
#Biryani > ul > #rice , #Biryani > ul > #chicken {
    color: salmon;
}
#Biryani > ul > #paneer{
    color: skyblue;
}
#Biryani  #chicken-ul{
    color: rgb(83, 40, 40);
}
#Lassi  #water + #sugar li{
    color: rgb(209, 183, 180);
}
#wholeCon h1{
    margin-left: 40px;
}